body {
    height: 100vh;
    margin: 0;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;

}



#jogo {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.tabela {
    position: relative;

    display: block;
    min-width: 256px;
    min-height: 256px;
    border: 8px solid #32c4c0;
    padding: 2px 3px;
    background-color: #a7bdea;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.31);
    margin: 24px;

  
}

.linha {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 2px 0;

}

.celula {
    height: 64px;
    width: 64px;
    margin: 0 1px;
    border-radius: 2px;
    background-color: aliceblue;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.31);
}

.vazio {
    background-color: #59d102;
    height: 60px;
    border-radius: 100%;
    border: 3px solid blue;

}

.jogador {
    box-sizing: border-box;
   position: absolute;
   top:0;
   left: 0;
    background-color: #59d102;
    height: 60px;
    border-radius: 100%;
    border: 3px solid blue;
    width: 60px;
    
}

