body {
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;

}



#jogo {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.tabela {
    display: block;
    min-width: 256px;
    min-height: 256px;
    border: 8px solid #505050;
    padding: 2px 3px;
    background-color: gray;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.31);
    margin: 24px;
}

.linha {
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 2px 0;

}

.celula {
    height: 64px;
    width: 64px;
    margin: 0 1px;
    border-radius: 2px;
    background-color: aliceblue;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.31);
}

.vazio {
    background-color: unset;
    box-shadow: none;
}